@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.navbar-brand{
  color: #fff !important;
  font-weight: bolder !important;
  margin-left: 2% !important;
}
.nav-link{
  color: #fff !important;
}
.error{
  color: red !important;
}
.log-out{
  color: white !important;
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
}


.container {

}
